{
  "name": "fr.openent~web-conference",
  "config": {
    "main" : "fr.openent.webConference.WebConference",
    "port" : 8088,
    "app-name" : "Web-conference",
    "app-address" : "/webconference",
    "app-icon" : "Web-conference-large",
    "app-displayName" : "webconference",
    "host": "http://{{ host }}",
    "ssl" : false,
    "sql": true,
    "auto-redeploy": false,
    "userbook-host": "http://{{ host }}",
    "integration-mode": "{{ integration_mode|default('HTTP') }}",
    "app-registry.port" : 8012,
    "mode" : "prod",
    "entcore.port" : 8009,
    {% if webConferenceHost is defined %}
      "bigbluebutton": {
        "host": "{{ webConferenceHost }}",
        "api_endpoint": "{{ webConferenceEndPoint }}",
        "secret": "{{ webConferenceSecret }}",
			  "logoutURL": "{{ webConferenceLogoutURL  | default('') }}"
      },
    {% elif webConferenceMultiHost is defined %}
      "bigbluebutton": {{ webConferenceMultiHost }},
    {% endif %}
	  "allow-public-link": {{ bbbAllowPublicLink  | default('false') }},
    "share": {
      "overrideDefaultActions": ["webconference.contrib"]
    }
  }
}