<div class="rooms">
    <div class="card horizontal-spacing-twice vertical-spacing row">
        <div class="center-component">
            <div class="twelve title-container">
                <h2 class="six twelve-mobile">
                    [[vm.selectedRoom.name]]
                </h2>
                <div class="six button zero-mobile">
                    <button ng-click="vm.startCurrentRoom()">
                        <i18n ng-show="!vm.hasActiveSession(vm.selectedRoom)">webconference.room.start</i18n>
                        <i18n ng-show="vm.hasActiveSession(vm.selectedRoom)">webconference.room.join</i18n>
                    </button>
                    <button style="margin-left: 5px" ng-if="vm.hasActiveSession(vm.selectedRoom)" ng-disabled="vm.selectedRoom.isLoadingStreaming" ng-click="vm.updateStream(vm.selectedRoom)" class="cancel">
                        <i18n ng-show="vm.selectedRoom.isStreaming">webconference.room.streaming.stop</i18n>
                        <i18n ng-show="!vm.selectedRoom.isStreaming">webconference.room.streaming.start</i18n>
                        <i class="loading" ng-if="vm.selectedRoom.isLoadingStreaming"></i>
                    </button>
                    <button style="margin-left: 5px" ng-click="vm.checkEndCurrentRoom(vm.selectedRoom)" class="cancel"
                            ng-show="vm.hasActiveSession(vm.selectedRoom)">
                        <i18n>webconference.room.end</i18n>
                    </button>
                </div>
            </div>
            <div class="zero-desktop twelve-mobile url-container top-spacing-twice bottom-spacing-three">
                <div ng-show="!!vm.selectedRoom.opener && vm.hasActiveSession(vm.selectedRoom)">
                    <em class="metadata">
                        <em class="metadata">
                            <i18n>webconference.opened.by</i18n> : [[vm.selectedRoom.opener]]
                        </em>
                    </em>
                </div>
                <label class="row">
                    <em>
                        <i18n>webconference.attendee.invite</i18n>
                    </em>
                </label>
                <div class="top-spacing-three">
                    <div class="twelve-mobile url-container">
                        <div class="input-url seven-mobile cell">
                            <i18n class="bold cell">webconference.ent.link</i18n>
                            <input type="text" ng-model="vm.selectedRoom.link" readonly>
                        </div>
                        <a class="clipboard-link-field" data-clipboard-text="[[vm.selectedRoom.link]]">
                            <i class="copy"></i>
                            <i18n>copy.link</i18n>
                        </a>
                    </div>
                    <div class="twelve-mobile url-container" ng-if="!!vm.selectedRoom.public_link && vm.allowPublicLink">
                        <div class="input-url seven-mobile cell">
                            <i18n class="bold cell">webconference.public.link</i18n>
                            <input type="text" ng-model="vm.selectedRoom.public_link" readonly>
                        </div>
                        <a class="clipboard-link-field" data-clipboard-text="[[vm.selectedRoom.public_link]]">
                            <i class="copy"></i>
                            <i18n>copy.link</i18n>
                        </a>
                    </div>
                    <div class="info vertical-spacing-four" ng-if="!!vm.selectedRoom.public_link && vm.allowPublicLink">
                        <i18n>webconference.public.link.explanation</i18n>
                    </div>
                </div>
            </div>
            <div class="twelve">
                <div ng-show="vm.structures.length > 1 && vm.selectedRoom.structure">
                    <em class="metadata">
                        <em class="metadata zero-mobile">
                            <i18n>webconference.structure</i18n> : [[vm.structureMap.get(vm.selectedRoom.structure) || '']]
                        </em>
                    </em>
                </div>
                <div ng-show="!!vm.selectedRoom.opener && vm.hasActiveSession(vm.selectedRoom)">
                    <em class="metadata">
                        <em class="metadata zero-mobile">
                            <i18n>webconference.opened.by</i18n> : [[vm.selectedRoom.opener]]
                        </em>
                    </em>
                </div>
                <label class="row zero-mobile">
                    <div class="top-spacing-twice">
                        <i18n>webconference.attendee.invite</i18n>
                    </div>
                </label>
                <div class="top-spacing-three">
                    <div class="twelve url-container zero-mobile">
                        <i18n class="bold one cell">webconference.ent.link</i18n>
                        <div class="input-url nine cell">
                            <input type="text" ng-model="vm.selectedRoom.link" readonly>
                        </div>
                        <a class="clipboard-link-field" data-clipboard-text="[[vm.selectedRoom.link]]">
                            <i class="copy"></i>
                            <i18n>copy.link</i18n>
                        </a>
                    </div>
                    <div class="twelve url-container zero-mobile" ng-if="!!vm.selectedRoom.public_link && vm.allowPublicLink">
                        <i18n class="bold one cell">webconference.public.link</i18n>
                        <div class="input-url nine cell">
                            <input type="text" ng-model="vm.selectedRoom.public_link" readonly>
                        </div>
                        <a class="clipboard-link-field" data-clipboard-text="[[vm.selectedRoom.public_link]]">
                           <i class="copy"></i>
                            <i18n>copy.link</i18n>
                        </a>
                    </div>
                    <div class="zero-mobile info vertical-spacing-four" ng-if="!!vm.selectedRoom.public_link && vm.allowPublicLink">
                        <i18n>webconference.public.link.explanation</i18n>
                    </div>
                </div>
                <div class="zero twelve-mobile flex-space">
                    <div class="twelve">
                        <div class="button flex-center bottom-spacing-twice">
                            <button ng-click="vm.startCurrentRoom()">
                                <i18n ng-show="!vm.hasActiveSession(vm.selectedRoom)">webconference.room.start</i18n>
                                <i18n ng-show="vm.hasActiveSession(vm.selectedRoom)">webconference.room.join</i18n>
                            </button>
                            <button style="margin-left: 5px" ng-if="vm.hasActiveSession(vm.selectedRoom)" ng-click="vm.updateStream(vm.selectedRoom)">
                                <i18n ng-show="vm.selectedRoom.isStreaming">webconference.room.streaming.stop</i18n>
                                <i18n ng-show="!vm.selectedRoom.isStreaming">webconference.room.streaming.start</i18n>
                            </button>
                            <button style="margin-left: 5px" ng-click="vm.checkEndCurrentRoom(vm.selectedRoom)" class="cancel"
                                    ng-show="vm.hasActiveSession(vm.selectedRoom)">
                                <i18n>webconference.room.end</i18n>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
