<div class="card horizontal-spacing-twice vertical-spacing vertical-spacing-six row">
    <div class="cell vertical-spacing-twice row center-component flex-row f-row">
        <div class="center-component" style="flex: 0 0 70%;">
            <h1 style="align-self: flex-start; margin-bottom: 0;">
                [[vm.selectedRoom.name]]
            </h1>
            <h4 class="row">[[vm.selectedRoom.sessions]]
                <i18n>webconference.sessions</i18n>
            </h4>
            <div class="row">
                <label class="row">
                    <em>
                        <i18n>webconference.attendee.invite</i18n>
                    </em>
                </label>
                <input type="text" class="twelve" ng-model="vm.selectedRoom.link" readonly>
            </div>
        </div>
        <div class="cell four center-component" style="flex: 0 0 30%;">
            <button ng-click="vm.startCurrentRoom()">
                <i18n ng-show="!vm.selectRoomHasActiveSession()">webconference.room.start</i18n>
                <i18n ng-show="vm.selectRoomHasActiveSession()">webconference.room.join</i18n>
            </button>
            <button ng-click="vm.endCurrentRoom()" ng-show="vm.selectRoomHasActiveSession()">
                <i18n>webconference.room.end</i18n>
            </button>
        </div>
    </div>
</div>