<div class="cards-view twelve">
    <div class="row" ng-show="vm.rooms && vm.rooms.all.length > 0">
        <div ng-include="'/webconference/public/template/current-room.html'"></div>
        <div class="grid">
            <div class="flex-card card cell center-component f-row flex-row horizontal-spacing twelve-mobile"
                 ng-click="vm.selectedRoom = room"
                 ng-class="vm.selectedRoom == room ? 'active' : ''"
                 ng-repeat="room in vm.rooms.all|orderBy:'name'">
                <div class="icon vertical-spacing-twice center-component">
                    <div class="img-container center-component room-image"
                         ng-class="{green: vm.hasActiveSession(room), red: !vm.hasActiveSession(room)}">
                        <div class="img" ng-include="'/webconference/public/image/' + (vm.hasActiveSession(room) ? 'phone.svg' : 'phone-hangup.svg')">
                        </div>
                    </div>
                </div>
                <div class="title align-start center-component flex-row vertical-spacing-twice">
                    <h4>[[room.name]]</h4>
                    <em class="metadata" ng-show="vm.structures.length > 1 && room.structure">[[vm.structureMap.get(room.structure) || '']]</em>
                </div>
                <div class="logos_div two">
                    <i class="waitingRoom" tooltip="Une salle d'attente est programmée" ng-if="room.allow_waiting_room" title="Salle d'attente"></i>
                    <i class="sharing" ng-if="room.collab" title="Salle partagée"></i>
                    <i class="streaming" ng-class="{'active': room.isStreaming}" ng-if="room.allow_streaming" tooltip="webconference.room.tooltip.streaming" title="Streaming activé"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Emptystate screen with create right (workflowCreate) -->
    <div class="row center-component flex row top-spacing-ten" ng-show="vm.rooms && vm.rooms.all.length === 0 && vm.hasWorkflowCreate() == true">
        <div class="emptyscreen eleven centered">
            <h2 class="emptyscreen-header"><i18n>webconference.rooms.title.empty</i18n></h2>
            <div class="img_div">
                <img src="/webconference/public/image/waiting_img.svg"/>
            </div>
            <h4 class="emptyscreen-footer"><i18n>webconference.rooms.empty</i18n></h4>
            <button ng-click="vm.openRoomLightbox()" class="vertical-spacing-six">
                <i18n>webconferences.room.create</i18n>
            </button>
        </div>
    </div>
    <!-- Emptystate screen without create right (workflowCreate) -->
    <div class="row center-component flex row top-spacing-ten" ng-show="vm.rooms && vm.rooms.all.length === 0 && vm.hasWorkflowCreate() == false">
        <div class="emptyscreen eleven centered">
            <div class="img_div">
                <img src="/webconference/public/image/waiting_img.svg"/>
            </div>
            <h4 class="emptyscreen-footer"><i18n>webconference.rooms.empty.no.rights</i18n></h4>
        </div>
    </div>
</div>