<div class="eight twelve-mobile centered">
    <div class="row" ng-show="vm.rooms && vm.rooms.length > 0">
        <div ng-include="'/webconference/public/template/current-room.html'"></div>
        <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 25px;">
            <div class="card cell center-component f-row flex-row horizontal-spacing twelve-mobile"
                 ng-click="vm.selectedRoom = room"
                 ng-repeat="room in vm.rooms|orderBy:'name'">
                <div style="flex: 0 0 20%;" class="vertical-spacing-twice center-component">
                    <div class="center-component room-image" style="border-radius: 4px;"
                         ng-class="{green: vm.hasActiveSession(room), cyan: !vm.hasActiveSession(room)}">
                        <img src="/webconference/public/image/webconference.png" alt="webconference"
                             style="width: 25px; height: 25px; margin: 10px;">
                    </div>
                </div>
                <div class="align-start center-component flex-row vertical-spacing-twice" style="flex: 0 0 70%">
                    <h4 style="margin: 0;">[[room.name]]</h4>
                </div>
                <div class="center-component" style="flex: 0 0 10%">
                    <dots-menu>
                        <opt ng-click="vm.openRoomUpdate(room)">
                            <i18n>webconference.update</i18n>
                        </opt>
                        <opt ng-click="vm.deleteRoom(room)">
                            <i18n>webconference.delete</i18n>
                        </opt>
                    </dots-menu>
                </div>
            </div>

            <div class="cell center-component f-row flex-row horizontal-spacing twelve-mobile"
                 style="border: 1px dashed lightgray;">
                <div style="flex: 0 0 20%;" class="vertical-spacing-twice center-component">
                    <div class="center-component cyan room-image" style="border-radius: 4px;">
                        <img src="/webconference/public/image/plus.png" alt="Add a room"
                             style="width: 25px; height: 25px; margin: 10px;">
                    </div>
                </div>
                <div class="align-start center-component flex-row vertical-spacing-twice" style="flex: 0 0 80%">
                    <h4 ng-click="vm.lightbox.show = true;">
                        <i18n>webconference.room.create</i18n>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-component flex row top-spacing-ten" ng-show="vm.rooms && vm.rooms.length === 0">
        <h4>
            <i18n>webconference.rooms.empty</i18n>
        </h4>
        <button ng-click="vm.lightbox.show = true;" class="vertical-spacing-six">
            <i18n>webconferences.room.create</i18n>
        </button>
    </div>
    <lightbox show="vm.lightbox.show" on-close="vm.lightbox.show = false;">
        <div ng-include="'/webconference/public/template/room-creation.html'"></div>
    </lightbox>
</div>