<lightbox show="vm.lightbox.room" on-close="vm.closeRoomLightbox()">
    <h3 class="row">
        <i18n>webconference.room.create</i18n>
    </h3>
    <div class="row" ng-show="vm.structures.length > 1">
        <label for="room-structure" class="cell three twelve-mobile">
            <i18n>webconference.structure</i18n>
        </label>
        <div class="cell nine twelve-mobile">
            <select id="room-structure" ng-model="vm.room.structure" class="twelve-mobile"
                    ng-options="structure.id as structure.name for structure in vm.structures"></select>
        </div>
    </div>
    <div class="row">
        <label for="room-name" class="cell three twelve-mobile">
            <i18n>webconference.room.name</i18n>
        </label>
        <div class="cell nine twelve-mobile">
            <input type="text" class="twelve" id="room-name" ng-model="vm.room.name" maxlength="50">
        </div>
    </div>
    <div class="row">
        <div class="right-magnet">
            <button ng-click="vm.createRoom(vm.room)" ng-if="!vm.room.id">
                <i18n>webconference.create</i18n>
            </button>
            <button ng-click="vm.updateRoom(vm.room)" ng-if="vm.room.id">
                <i18n>webconference.update</i18n>
            </button>
        </div>
    </div>
</lightbox>