<!DOCTYPE html>
<html>

<head>
    <title>{{#i18n}}webconference.title{{/i18n}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <script src="/assets/js/entcore/ng-app.js?v=@@VERSION" id="context" type="text/javascript"></script>
    <script type="text/javascript" src="/webconference/public/dist/application.js?v=@@VERSION"></script>
    <script>
        var error = "tooManyRoomsPerStructure";
    </script>
    <script type="text/ng-template" id="empty"></script>
</head>

<body ng-controller="MainController as vm">
<portal>
    <div class="flex-row mobile-f-column">
        <div class="six twelve-mobile">
            <div class="emptyscreen eleven centered">
                <h2 class="emptyscreen-header">{{#i18n}}webconference.tooManyRoomsPerStructure.message{{/i18n}}</h2>
                <img src="/webconference/public/image/onboarding.svg" class="emptyscreen-image__mini"/>
                <p class="emptyscreen-footer">{{#i18n}}webconference.tooManyRoomsPerStructure.description{{/i18n}}</p>
            </div>
        </div>
        <div class="six vertical-spacing-six twelve-mobile">
            <div class="eleven centered">
                <h4>{{#i18n}}webconference.opened.rooms{{/i18n}}</h4>
                <table class="card twelve">
                    <thead>
                    <th>{{#i18n}}webconference.user{{/i18n}}</th>
                    <th>{{#i18n}}webconference.room.name{{/i18n}}</th>
                    <th>&nbsp</th>
                    </thead>
                    <tbody>
                    {{#users}}
                    <tr>
                        <td>{{displayName}}</td>
                        <td>{{roomName}}</td>
                        <td>
                            <sniplet application="zimbra" template="openZimbra"
                                     source="{type: 'User', id: '{{id}}', name: '{{displayName}}'}"
                                     ng-if="vm.hasWorkflowZimbra()"></sniplet>

                            <div ng-if="vm.hasWorkflowMessagerie()">
                                <div class="action-item">
                                    <a ng-href="/conversation/conversation#/write-mail/{{id}}/User">
                                        <i class="cell no-margin centered-text icon-force-size send-mail zero-mobile"></i>
                                        <span class="cell medium-block-container"><i18n>userBook.class.write-message</i18n></span>
                                    </a>
                                </div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                    {{/users}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</portal>
</body>

</html>
